[submodule "spystats"]
	path = spystats
	url = https://github.com/molgor/spystats.git
[submodule "external_plugins/iDivSS2017_Group_Project_2"]
	path = external_plugins/iDivSS2017_Group_Project_2
	url = https://github.com/MarinaGolivets/iDivSS2017_Group_Project_2.git
[submodule "external_plugins/DjangoFIA"]
	path = external_plugins/DjangoFIA
	url = https://github.com/molgor/DjangoFIA.git
