#Ignore file for ignoring files
#manage.py

#Log files
#logs/

docs/*
*doctree

mex_taxonomies/

.DS*


*.shp
*.shx
*.dbf
*.png
*.pyc
*.svg
thesis/template

*.log

*.out

*.aux
*.lof
*.lot
*.toc

*.csv

/test100_mtmp.tif
