version: '2'

networks:
  default:
   external:
    name: 'biospytial_network_local'

services:

 ## Biospytial client
 name Biospytial3:
  client3:
  ports:
   - '8888:8888'
   - '8000:8000'
  volumes:
   - '/mnt/data1/RawDataCSV:/RawDataCSV'
   - '/mnt/data1/outputs:/outputs'
   - '/mnt/data1/git-projects/biospytial:/apps'
   - '/mnt/data1:/mnt/data1'
   - '/tmp/.X11-unix:/tmp/.X11-unix'
  
  links:
   - postgis
   - neo4j
  depends_on:
   - postgis
   - neo4j
  environment:
    DISPLAY: unix$DISPLAY
  image: molgor/biospytial
  # For interactive mode
  stdin_open: true
  tty: true
  entrypoint: /bin/bash

 postgis:
  ports:
   - 5432:5432
  volumes:
   - '/home/juan/DataVolumesBank/postgis:/DataVolumes'
   - '/mnt/data1:/mnt/data1'
  image: molgor/postgis_biospytial
  entrypoint: /bin/sh -c "/root/startPostgres"
  
 neo4j:
  environment:
   NEO4J_AUTH: none
  ports:
   - 7474:7474
   - 7687:7687
   - 1337:1337
  volumes:
   - '/opt/DataVolumesFast/neo4j/data:/data'
   - '/opt/DataVolumesFast/neo4j/logs:/logs'
  image: molgor/neo4j_biospytial  


   